.main {
	width: 100%;
	background-color: $font-red;
	background: url(../img/bg-main.png) center center/cover no-repeat;
	position: relative;
	&__charasters {
		display: flex;
		height: 100%;
		padding-bottom: 220px;
		& .swiper {
			width: 2279px;
			height: 1250px;
			margin-left: 330px;
		}
	}
	&__charasters-title {
		transform: rotate(90deg);
		position: relative;
		& h1 {
			position: absolute;
			display: block;
			left: -524px;
			top: 274px;
			font-size: 190px;
			color: black;
			color: transparent;
			-webkit-text-stroke: 1px white;
			text-transform: uppercase;
			font-family: $DrukWide;
			font-weight: 900;
			letter-spacing: 0.1em;
			transform: scale(1, 0.8);
		}
	}

	&__charaster-carousel {
		margin-left: 100px;
		// font-size: 100px;
		margin-top: 120px;
		display: flex;
		height: 900px;
	}

	&__charaster-agent {
		width: 440px;
		height: 990px;
		position: relative;
		transition: ease-in 0.3s all;
		cursor: pointer;
		background-size: 440px 919px;
		&:hover {
			background-size: 440px 919px;
		}
		&:hover > .main__charaster-skills {
			transition: ease-in 0.3s all;
			background-color: #fff;
		}
		&:hover > .main__charaster-name h2 {
			-webkit-text-stroke: 1.7px black;
		}
		&:hover svg path {
			fill: $bg-black;
		}
		// &:after {
		// 	content: "";
		// 	transition: ease-in 0.3s all;
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	border-top: 30px solid $font-red;
		// 	border-right: 30px solid $bg-black;
		// }
		&:hover::after {
			border-right: 30px solid white;
		}
	}
	&__charaster-name {
		position: absolute;
		transform: rotate(90deg);
		left: -100px;
		top: 199px;
		width: 306px;
		height: 20px;
		& p {
			font-size: 24px;
			font-family: $DrukWide;
			color: $font-red;
			font-weight: 700;
			letter-spacing: 0.1em;
		}
		& h2 {
			font-size: 72px;
			font-weight: 900;
			letter-spacing: 0.1em;
			font-family: $DrukWide;
			color: transparent;
			-webkit-text-stroke: 1px white;
			text-transform: uppercase;
			transform: scale(1, 0.8);
			transition: ease-in 0.3s all;
		}
	}

	&__charaster-skills {
		width: 440px;
		height: 110px;
		position: absolute;
		bottom: -55px;
		left: 25px;
		background-color: $bg-black;
		border: 1px solid white;
		transition: ease-in 0.3s all;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__charaster-agent.phoenix {
		background: url(../img/charasters/phoenix.png) bottom no-repeat, $bg-black;
		&:hover {
			background: url(../img/charasters/phoenix.png) center no-repeat, white;
			background-size: 440px 919px;
		}
		&:hover ~ .main__charaster-skills {
			background-color: #fff;
		}
	}
	&__charaster-agent.jett {
		background: url(../img/charasters/jett.png) bottom no-repeat, #1f2326;
		&:hover {
			background: url(../img/charasters/jett.png) center no-repeat, white;
			background-size: 440px 919px;
		}
	}
	&__charaster-agent.sova {
		background: url(../img/charasters/sova.png) bottom no-repeat, $bg-black;
		&:hover {
			background: url(../img/charasters/sova.png) center no-repeat, white;
			background-size: 440px 919px;
		}
	}
	&__charaster-agent.sage {
		background: url(../img/charasters/sage.png) bottom no-repeat, $bg-black;
		&:hover {
			background: url(../img/charasters/sage.png) center no-repeat, white;
			background-size: 440px 919px;
		}
	}
	&__charaster-agent.cypher {
		background: url(../img/charasters/cypher.png) bottom no-repeat, $bg-black;
		&:hover {
			background: url(../img/charasters/cypher.png) center no-repeat, white;
			background-size: 440px 919px;
		}
	}
	&__charaster-agent.breach {
		background: url(../img/charasters/breach.png) bottom no-repeat, $bg-black;
		&:hover {
			background: url(../img/charasters/breach.png) center no-repeat, white;
			background-size: 440px 919px;
		}
	}
	&__charaster-agent.brimstone {
		background: url(../img/charasters/brimstone.png) bottom no-repeat, $bg-black;
		&:hover {
			background: url(../img/charasters/brimstone.png) center no-repeat, white;
			background-size: 440px 919px;
		}
	}
	.swiper-horizontal > .swiper-scrollbar,
	.swiper-scrollbar.swiper-scrollbar-horizontal {
		bottom: 10px;
	}

	&__skills-wrapper {
		position: absolute;
		bottom: 25px;
	}
	&__skills {
		margin: 50px -1px 0 0;
		height: 158px;
		width: 2378px;
		left: -125px;
		position: relative;
		& .swiper-skills {
			width: 100%;
			overflow: hidden;
			position: relative;
		}

		& .swiper-slide {
			display: block;
			margin: 0 1px 0 0;
		}
	}
	&__skills-header {
		display: flex;
		height: 15px;
		width: 724px;
		margin-bottom: -1px;
	}
	&__skills-corner {
		position: relative;
		margin-right: -1px;
		width: 15px;
		background: linear-gradient(
			-45deg,
			#fff,
			#fff 9.5px,
			#000 0,
			#000 11px,
			transparent 0
		);
	}
	&__skills-rectangle {
		flex-grow: 1;
		padding: 15px 0 0 8px;
		border: 2px solid #000;
		border-bottom: none;
		border-left: none;
		border-radius: 0 12px 0 0;
		background: #fff;
	}

	&__skills-description {
		width: 724px;
		height: 233px;
		background-color: #fff;
		padding: 31px 0 10px 58px;
		border-left: 2px solid #000;
		border-right: 2px solid #000;
		border-bottom: 2px solid #000;
		position: relative;
		background-image: url(../img/block.png);
		background-repeat: no-repeat;
		background-position: 398px 50px;
		background-size: 190px 182px;
		& h2 {
			color: $font-gray;
			font-family: $DrukWide;
			font-weight: 800;
			font-size: 57px;
			text-transform: uppercase;
			transform: scale(1, 0.7);
		}
		& h3 {
			color: #000;
			font-family: $DrukWide;
			font-weight: 900;
			font-size: 33px;
			margin: 23px 0;
			transform: scale(1, 0.7);
		}
		& p {
			color: $bg-black;
			font-family: $Montesserat;
			font-weight: 400;
			font-size: 16px;
			width: 316px;
		}
		&::before {
			content: "";
			display: block;
			width: 190px;
			height: 190px;
			position: absolute;
			background-repeat: no-repeat;
			top: 8px;
			right: 52px;
		}
	}
	&__skills-description.basic::before {
		background-image: url(../img/backSkills/1.svg);
	}
	&__skills-description.signature::before {
		background-image: url(../img/backSkills/2.svg);
	}
	&__skills-description.ultimate::before {
		background-image: url(../img/backSkills/3.svg);
	}
	& .swiper-skills-next {
		cursor: pointer;
		position: absolute;
		z-index: 10;
		right: -294px;
		top: 0;
		width: 219px;
		&__header {
			display: flex;
			height: 15px;
			margin-bottom: -1px;
		}
		&__corner {
			position: relative;
			margin-right: -1px;
			width: 15px;
			background: linear-gradient(
				-45deg,
				#fff,
				#fff 9.5px,
				#000 0,
				#000 11px,
				transparent 0
			);
		}
		&__rectangle {
			flex-grow: 1;
			padding: 15px 0 0 8px;
			border: 2px solid #000;
			border-bottom: none;
			border-left: none;
			background: #fff;
		}
		&__main {
			position: relative;
			height: 234px;
			background-color: #fff;
			border: 2px solid black;
			border-top: none;
			&::after {
				content: url(../img/next.svg);
				line-height: 15px;
				top: 42%;
				left: 45%;
				position: absolute;
			}
		}
	}

	&__footer {
		width: calc(100%);
		height: 142px;
		background-color: #fff;
		border-bottom-left-radius: 21px;
		border-bottom-right-radius: 21px;
	}
}

.main {
	.swiper-slide {
		transition: ease-in 0.3s all;
	}
	&__header-agent {
		display: none;
		transition: ease-in 0.3s all;
		width: 440px;
		height: 15px;
		margin-bottom: -1px;
	}
	&__corner-agent {
		transition: ease-in 0.3s background-color;
		border-left: 1px solid #1f2326;
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		width: 15px;
		height: 15px;
		background-color: $bg-black;
	}
	&__rectangle-agent {
		transition: ease-in 0.3s all;
		flex-grow: 1;
		margin-left: -1px;
		padding: 15px 0 0 8px;
		margin-left: -1px;
		border-bottom: none;
		border-left: none;
		background-color: $bg-black;
	}
}

.main__charaster-agent:hover ~ .main__corner-agent {
	transition: ease-in 0.3s background-color;
	background-color: #fff;
}

.main__charaster-agent:hover ~ .main__rectangle-agent {
	background-color: #fff;
}
