@media (max-width: 3000px) {
	.container {
		padding: 50px 0;
		width: 1453px;
	}
	.nav {
		&__logo {
			margin: 0 30px;
		}
		&__logo-link:not(:last-child) {
			margin-right: 20px;
		}
		&__list {
			width: 880px;
		}
	}

	.main {
		&__charasters-title h1 {
			position: absolute;
			display: block;
			left: -418px;
			top: 254px;
			font-size: 150px;
		}
		&__charasters {
			padding: 0 0 45px 0;
		}
		&__charasters .swiper {
			margin-left: 150px;
			height: 862px;
		}
		&__charaster-agent {
			width: 230px;
			height: 690px;
			background-size: 335px 670px !important;
		}
		&__charaster-skills {
			width: 240px;
			height: 70px;
			bottom: -25px;
		}
		&__charaster-skills svg {
			transform: scale(0.6);
		}
		&__charaster-carousel {
			margin-left: 43px;
			margin-top: 50px;
		}
		& .swiper-horizontal > .swiper-scrollbar,
		.main .swiper-scrollbar.swiper-scrollbar-horizontal {
			bottom: 70px;
		}
		&__skills {
			width: 1278px;
			margin: 50px -1px -90px 0;
		}
		&__skills-description {
			width: 324px;
			height: 133px;
			background-position: 164px 49px;
			background-size: 90px 82px;
			padding: 10px 0 10px 25px;
			& h2 {
				font-size: 30px;
			}
			& h3 {
				font-size: 18px;
				margin: 0;
			}
			& p {
				font-size: 14px;
				width: 209px;
			}
			&::before {
				background-size: 100px 115px;
				top: 14px;
				right: -5px;
			}
		}
		&__skills-header {
			width: 324px;
		}
		& .swiper-skills-next {
			width: 124px;
			height: 147px;
			right: -120px;
		}
		& .swiper-skills-next__main {
			height: 133px;
		}

		&__footer {
			height: 90px;
		}
	}
	.triangle::after {
		content: url(../img/triangle.svg);
		right: -15px;
	}
}
@media (max-width: 3000px) and (min-height: 1200px) {
	body {
		overflow: hidden;
	}
}

@media (max-width: 1600px) {
	.container {
		padding: 25px 0;
		width: 1100px;
	}
	.nav {
		&__logo {
			margin: 0 10px;
			transform: scale(0.6);
		}
		&__logo-link:not(:last-child) {
			margin-right: 15px;
		}
		&__list {
			width: 618px;
			display: grid;
			grid-template-rows: repeat(2, 20px);
			grid-template-columns: repeat(5, 1fr);
		}
		&__links {
			margin: 20px 0;
			align-items: center;
		}
		&__user,
		.nav__item {
			margin: 0 40px 0 0;
		}
	}

	.main {
		&__charasters-title h1 {
			position: absolute;
			display: block;
			left: -240px;
			top: 190px;
			font-size: 70px;
		}
		&__charasters {
			padding: 0 0 0 0;
		}
		&__charasters .swiper {
			margin-left: 70px;
			height: 553px;
		}
		&__charaster-agent {
			width: 188px;
			height: 414px;
			background-size: 174px 372px !important;
		}
		&__charaster-skills {
			width: 186px;
			height: 59px;
			bottom: -25px;
		}
		&__charaster-skills svg {
			transform: scale(0.6);
		}
		&__charaster-carousel {
			margin-left: 43px;
			margin-top: 30px;
		}
		&__charaster-name {
			left: -125px;
			& p {
				font-size: 18px;
			}
			& h2 {
				font-size: 45px;
			}
		}

		& .swiper-horizontal > .swiper-scrollbar,
		.main .swiper-scrollbar.swiper-scrollbar-horizontal {
			bottom: 70px;
		}
		&__skills {
			width: 900px;
			margin: 50px -1px -90px 0;
			left: -65px;
		}
		&__skills-wrapper {
			bottom: -25px;
		}
		&__skills-description {
			width: 210px;
			height: 80px;
			background-position: 120px -3px;
			background-size: 60px 62px;
			padding: 5px 0 5px 10px;
			& h2 {
				font-size: 20px;
			}
			& h3 {
				font-size: 14px;
				margin: 0;
			}
			& p {
				font-size: 7px;
				width: 90px;
			}
			&::before {
				background-size: 50px;
				top: -1px;
				right: -85px;
			}
		}
		&__skills-header {
			width: 210px;
		}
		& .swiper-skills-next {
			width: 124px;
			height: 147px;
			right: -120px;
		}
		& .swiper-skills-next__main {
			height: 80px;
		}

		&__footer {
			height: 70px;
		}
	}
	.triangle::after {
		content: url(../img/triangle.svg);
		right: -15px;
	}
}

@media (min-width: 1201px) and (max-width: 1600px) and (min-height: 600px) {
	.container {
		transform: scale(0.7);
	}
	.nav__list {
		grid-template-rows: repeat(2, 30px);
	}
}

@media (max-width: 1200px) {
	body {
		overflow: hidden;
	}
	.wrapper {
		background: url(../img/bg-wrapper.png) 0 0 / cover no-repeat;
	}
	.container {
		padding: 15px 0;
		width: 700px;
	}
	.nav {
		&__logo {
			flex-direction: column;
		}
		&__logo-link:not(:last-child) {
			margin: 0 auto;
		}
		&__logo-link:last-child {
			margin: 10px auto 0;
		}
		&__logo-link:nth-child(2) {
			display: none;
		}
		&__list {
			width: 400px;
			grid-template-rows: repeat(3, 20px);
			grid-template-columns: repeat(3, 1fr);
		}
		&__links {
			margin: 10px 0;
		}
		.triangle::after {
			bottom: 5px;
		}

		& a {
			font-size: 11px;
		}
	}

	.main {
		&__charasters-title h1 {
			position: absolute;
			display: block;
			left: -150px;
			top: 104px;
			font-size: 58px;
		}
		&__charaster-carousel {
			margin-left: 25px;
		}
		&__charasters .swiper {
			width: 594px;
		}
		&__charaster-name {
			left: -140px;
			top: 165px;
		}
		&__charaster-agent {
			width: 135px;
			height: 274px;
			background-size: 125px 265px !important;

			& h2 {
				font-size: 20px;
			}
			& p {
				font-size: 14px;
			}
		}
		&__charaster-skills {
			width: 128px;
			height: 44px;
			bottom: -11px;
		}
		.swiper-scrollbar {
			display: none;
		}
		&__charasters .swiper {
			width: 581px;
			height: 342px;
		}
		&__skills {
			top: 32px;
			width: 531px;
			left: -24px;
		}
	}
}

@media (min-width: 789px) and (max-width: 1201px) and (min-height: 537px) and (max-height: 670px) {
	.wrapper {
		height: 100%;
		background: url(../img/bg-wrapper.png) center center/cover no-repeat;
	}
	.container {
		padding: 18px 0 208px 0;
	}
}

@media (min-width: 789px) and (max-width: 1201px) and (min-height: 671px) and (max-height: 900px) {
	.container {
		padding: 60px 0 208px 0;
	}
}

@media (max-width: 788px) {
	body {
		overflow: visible;
	}
	.container {
		padding: 0;
		width: 100%;
		overflow: hidden;
	}
	.header {
		border-radius: 0;
	}
	.nav {
		&__burger {
			display: block;
		}
		&__logo {
			flex-direction: row;
			margin-left: -40px;
		}
		&__logo-link:last-child {
			margin: 0 0 0 5px;
		}

		&__list {
			position: fixed;
			justify-content: center;
			height: 100%;
			width: 100%;
			top: -100%;
			left: 0;
			background-color: rgba(80, 26, 26, 0.918);
			padding: 45px 0 0 0;
			-webkit-transition: all 0.7s ease;
			-o-transition: all 0.7s ease;
			transition: all 0.7s ease;
			text-align: center;
			overflow: scroll !important;
			grid-template-columns: repeat(1, 200px);
			grid-template-rows: auto;
		}
		&__list.active {
			top: 0;
			overflow: hidden;
			overflow: auto;
			z-index: 2;
		}
		&__item {
			height: 30px;
			margin: 0 !important;
		}
		&__links {
			justify-content: flex-end;
		}
		&__user-name {
			&::before {
				content: "";
			}
		}
	}
	.main {
		& .swiper {
			overflow: visible;
			width: 100%;
			height: 100%;
			margin: 0 auto;
		}
		&__charasters {
			height: 1205px;
		}
		&__charasters-title {
			display: none;
		}
		&__charaster-carousel {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			padding: 0;
		}
		& .swiper-slide {
			height: 303px;
			width: 170px;
			margin: 0 auto;
		}
		&__charaster-carousel {
			display: grid;
			grid-template-columns: 1fr 170px 170px 1fr;
			grid-template-rows: repeat(4, 1fr);
			.swiper-slide:nth-child(odd) {
				margin: 0;
				grid-column: 2 / 3;
			}
			& .swiper-slide:nth-child(even) {
				margin: 0 0 0 30px;
				grid-column: 3 / 4;
			}
		}
		&__skills-wrapper {
			display: none;
		}
		&__skills-media {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__skills-item {
			margin: 10px 0;
		}
		&__footer {
			display: none;
		}
	}

	.hidden {
		overflow: hidden;
	}
	.bg-red {
		background-color: rgba(80, 26, 26, 0.918);
	}
}

@media (max-width: 390px) {
	.main__charasters {
		height: 2105px;
	}
	.main__charaster-carousel {
		grid-template-columns: 1fr 170px 1fr;
		& .swiper-slide {
			margin: 0 !important;
			grid-column: 2 / 3 !important;
		}
	}
}
