@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none !important;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  padding-left: 0 !important;
  list-style: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
p {
  margin: 0;
}

.wrapper {
  background: url(../img/bg-wrapper.png) 0 0/cover no-repeat;
  background-color: #1f2326;
}

.container {
  margin: 0 auto;
  padding: 200px 0;
  max-width: 2660px;
}

.header {
  width: 100%;
  background-color: #1f2326;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  font-size: 14px;
  font-weight: 700;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 73px;
  margin-right: 86px;
}

.nav__logo-link:not(:last-child) {
  margin-right: 60px;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1260px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__user {
  margin-right: 60px;
}

.nav__user, .nav__item {
  margin-top: 55px;
  margin-bottom: 53px;
}

.main {
  width: 100%;
  background-color: #ff4656;
  background: url(../img/bg-main.png) center center/cover no-repeat;
  position: relative;
}

.main__charasters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-bottom: 220px;
}

.main__charasters .swiper {
  width: 2279px;
  height: 1250px;
  margin-left: 330px;
}

.main__charasters-title {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
}

.main__charasters-title h1 {
  position: absolute;
  display: block;
  left: -524px;
  top: 274px;
  font-size: 190px;
  color: black;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
  font-family: "Druk Wide Medium", sans-serif;
  font-weight: 900;
  letter-spacing: 0.1em;
  -webkit-transform: scale(1, 0.8);
      -ms-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}

.main__charaster-carousel {
  margin-left: 100px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 900px;
}

.main__charaster-agent {
  width: 440px;
  height: 990px;
  position: relative;
  -webkit-transition: ease-in 0.3s all;
  -o-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
  cursor: pointer;
}

.main__charaster-agent:hover > .main__charaster-skills {
  -webkit-transition: ease-in 0.3s all;
  -o-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
  background-color: #fff;
}

.main__charaster-agent:hover > .main__charaster-name h2 {
  -webkit-text-stroke: 1.7px black;
}

.main__charaster-agent:hover svg path {
  fill: #1f2326;
}

.main__charaster-agent:after {
  content: "";
  -webkit-transition: ease-in 0.3s all;
  -o-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 30px solid #ff4656;
  border-right: 30px solid #1f2326;
}

.main__charaster-agent:hover::after {
  border-right: 30px solid white;
}

.main__charaster-name {
  position: absolute;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -100px;
  top: 199px;
  width: 306px;
  height: 20px;
}

.main__charaster-name p {
  font-size: 24px;
  font-family: "Druk Wide Medium", sans-serif;
  color: #ff4656;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.main__charaster-name h2 {
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-family: "Druk Wide Medium", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
  -webkit-transform: scale(1, 0.8);
      -ms-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  -webkit-transition: ease-in 0.3s all;
  -o-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
}

.main__charaster-skills {
  width: 440px;
  height: 110px;
  position: absolute;
  bottom: -55px;
  left: 25px;
  background-color: #1f2326;
  border: 1px solid white;
  -webkit-transition: ease-in 0.3s all;
  -o-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__charaster-agent.phoenix {
  background: url(../img/charasters/phoenix.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.phoenix:hover {
  background: url(../img/charasters/phoenix.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.phoenix:hover ~ .main__charaster-skills {
  background-color: #fff;
}

.main__charaster-agent.jett {
  background: url(../img/charasters/jett.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.jett:hover {
  background: url(../img/charasters/jett.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.sova {
  background: url(../img/charasters/sova.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.sova:hover {
  background: url(../img/charasters/sova.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.sage {
  background: url(../img/charasters/sage.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.sage:hover {
  background: url(../img/charasters/sage.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.cypher {
  background: url(../img/charasters/cypher.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.cypher:hover {
  background: url(../img/charasters/cypher.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.breach {
  background: url(../img/charasters/breach.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.breach:hover {
  background: url(../img/charasters/breach.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.brimstone {
  background: url(../img/charasters/brimstone.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.brimstone:hover {
  background: url(../img/charasters/brimstone.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main .swiper-horizontal > .swiper-scrollbar,
.main .swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 10px;
}

.main__skills-wrapper {
  position: absolute;
  bottom: 25px;
}

.main__skills {
  margin: 50px -1px 0 0;
  height: 158px;
  width: 2300px;
  left: -125px;
  position: relative;
}

.main__skills .swiper-skills {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main__skills .swiper-slide {
  display: block;
  margin: 0 1px 0 0;
}

.main__skills-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 724px;
  margin-bottom: -1px;
}

.main__skills-corner {
  position: relative;
  margin-right: -1px;
  width: 15px;
  background: -webkit-linear-gradient(135deg, #fff, #fff 9.5px, #000 0, #000 11px, transparent 0);
  background: -o-linear-gradient(135deg, #fff, #fff 9.5px, #000 0, #000 11px, transparent 0);
  background: linear-gradient(-45deg, #fff, #fff 9.5px, #000 0, #000 11px, transparent 0);
}

.main__skills-rectangle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 0 0 8px;
  border: 2px solid #000;
  border-bottom: none;
  border-left: none;
  border-radius: 0 12px 0 0;
  background: #fff;
}

.main__skills-description {
  width: 724px;
  height: 233px;
  background-color: #fff;
  padding: 31px 0 10px 58px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  position: relative;
  background-image: url(../img/block.png);
  background-repeat: no-repeat;
  background-position: 398px 50px;
  background-size: 190px 182px;
}

.main__skills-description h2 {
  color: #c4c4c4;
  font-family: "Druk Wide Medium", sans-serif;
  font-weight: 800;
  font-size: 57px;
  text-transform: uppercase;
  -webkit-transform: scale(1, 0.7);
      -ms-transform: scale(1, 0.7);
          transform: scale(1, 0.7);
}

.main__skills-description h3 {
  color: #000;
  font-family: "Druk Wide Medium", sans-serif;
  font-weight: 900;
  font-size: 33px;
  margin: 23px 0;
  -webkit-transform: scale(1, 0.7);
      -ms-transform: scale(1, 0.7);
          transform: scale(1, 0.7);
}

.main__skills-description p {
  color: #1f2326;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 316px;
}

.main__skills-description::before {
  content: "";
  display: block;
  width: 190px;
  height: 190px;
  position: absolute;
  background-repeat: no-repeat;
  top: 8px;
  right: 52px;
}

.main__skills-description.basic::before {
  background-image: url(../img/backSkills/1.svg);
}

.main__skills-description.signature::before {
  background-image: url(../img/backSkills/2.svg);
}

.main__skills-description.ultimate::before {
  background-image: url(../img/backSkills/3.svg);
}

.main__footer {
  width: calc(100%);
  height: 142px;
  background-color: #fff;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

.main .swiper-skills-next {
  position: absolute;
  z-index: 10;
  right: -294px;
  top: 0;
  width: 219px;
}

.main .swiper-skills-next__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  margin-bottom: -1px;
}

.main .swiper-skills-next__corner {
  position: relative;
  margin-right: -1px;
  width: 15px;
  background: -webkit-linear-gradient(135deg, #fff, #fff 9.5px, #000 0, #000 11px, transparent 0);
  background: -o-linear-gradient(135deg, #fff, #fff 9.5px, #000 0, #000 11px, transparent 0);
  background: linear-gradient(-45deg, #fff, #fff 9.5px, #000 0, #000 11px, transparent 0);
}

.main .swiper-skills-next__rectangle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 0 0 8px;
  border: 2px solid #000;
  border-bottom: none;
  border-left: none;
  background: #fff;
}

.main .swiper-skills-next__main {
  position: relative;
  height: 234px;
  background-color: #fff;
  border: 2px solid black;
  border-top: none;
}

.main .swiper-skills-next__main::after {
  content: url(../img/next.svg);
  line-height: 15px;
  top: 42%;
  left: 45%;
  position: absolute;
}
