@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none !important;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  padding-left: 0 !important;
  list-style: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
p {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 2660px;
}

.header {
  width: 100%;
  background-color: #1f2326;
  margin-top: 300px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  font-size: 14px;
  font-weight: 700;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 73px;
  margin-right: 86px;
}

.nav__logo-link:not(:last-child) {
  margin-right: 60px;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1260px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__user {
  margin-right: 60px;
}

.nav__user, .nav__item {
  margin-top: 55px;
  margin-bottom: 53px;
}

.main {
  width: 100%;
  background-color: #ff4656;
  height: 1700px;
}

.main__charasters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.main__charasters .swiper {
  width: 2279px;
  height: 1250x;
  margin-left: 330px;
}

.main__charasters-title {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
}

.main__charasters-title h1 {
  position: absolute;
  display: block;
  right: -76px;
  top: 474px;
  font-size: 156px;
  color: black;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
  font-family: "Druk Wide Medium", sans-serif;
  font-weight: 900;
  letter-spacing: 0.1em;
  -webkit-transform: scale(1, 0.8);
      -ms-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}

.main__charaster-carousel {
  margin-left: 100px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 900px;
}

.main__charaster-agent {
  width: 440px;
  height: 990px;
  position: relative;
  -webkit-transition: ease-in 0.3s all;
  -o-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
  cursor: pointer;
}

.main__charaster-agent:hover > .main__charaster-skills {
  -webkit-transition: ease-in 0.3s all;
  -o-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
  background-color: #fff;
}

.main__charaster-agent:hover > .main__charaster-name h2 {
  -webkit-text-stroke: 1.7px black;
}

.main__charaster-agent:hover svg path {
  fill: #1f2326;
}

.main__charaster-agent:after {
  content: "";
  -webkit-transition: ease-in 0.3s all;
  -o-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 30px solid #ff4656;
  border-right: 30px solid #1f2326;
}

.main__charaster-agent:hover::after {
  border-right: 30px solid white;
}

.main__charaster-name {
  position: absolute;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -100px;
  top: 199px;
  width: 306px;
  height: 20px;
}

.main__charaster-name p {
  font-size: 24px;
  font-family: "Druk Wide Medium", sans-serif;
  color: #ff4656;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.main__charaster-name h2 {
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-family: "Druk Wide Medium", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
  -webkit-transform: scale(1, 0.8);
      -ms-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  -webkit-transition: ease-in 0.3s all;
  -o-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
}

.main__charaster-skills {
  width: 440px;
  height: 110px;
  position: absolute;
  bottom: -55px;
  left: 25px;
  background-color: #1f2326;
  border: 1px solid white;
  -webkit-transition: ease-in 0.3s all;
  -o-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__charaster-agent.phoenix {
  background: url(../img/charasters/phoenix.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.phoenix:hover {
  background: url(../img/charasters/phoenix.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.phoenix:hover ~ .main__charaster-skills {
  background-color: #fff;
}

.main__charaster-agent.jett {
  background: url(../img/charasters/jett.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.jett:hover {
  background: url(../img/charasters/jett.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.sova {
  background: url(../img/charasters/sova.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.sova:hover {
  background: url(../img/charasters/sova.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.sage {
  background: url(../img/charasters/sage.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.sage:hover {
  background: url(../img/charasters/sage.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.cypher {
  background: url(../img/charasters/cypher.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.cypher:hover {
  background: url(../img/charasters/cypher.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.breach {
  background: url(../img/charasters/breach.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.breach:hover {
  background: url(../img/charasters/breach.png) center no-repeat, white;
  background-size: 440px 919px;
}

.main__charaster-agent.brimstone {
  background: url(../img/charasters/brimstone.png) bottom no-repeat, #1f2326;
  background-size: 440px 919px;
}

.main__charaster-agent.brimstone:hover {
  background: url(../img/charasters/brimstone.png) center no-repeat, white;
  background-size: 440px 919px;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 450px;
}
